.form-group {
  position: relative;
	margin: 2em 0;
}

label:not(.form-check-label) {
	font-size: 80%;
	cursor: text;
	position: absolute;
	right: 5px;
	top: 10px;
	color: #999;
	z-index: 10;
	-webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
	transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}
label.form-check-label {
	cursor: pointer;
}

.focused label {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}


input[type=date]:not([aria-valuenow]).hide-value {
    color: transparent;
}

input:not([type=checkbox]):not([type=submit]), textarea {
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
          box-shadow: 0 1px 0 0 #e5e5e5;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
}
select {
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
          box-shadow: 0 1px 0 0 #e5e5e5;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
}
input:focus:not([type=checkbox]):not([type=submit]), textarea:focus {
  -webkit-box-shadow: 0 2px 0 0 blue;
          box-shadow: 0 2px 0 0 blue;
}
select:focus {
  -webkit-box-shadow: 0 2px 0 0 blue;
          box-shadow: 0 2px 0 0 blue;
}

input.filled:not([type=checkbox]):not([type=submit]), textarea.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}
select.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
	  box-shadow: 0 2px 0 0 lightgreen;
}

input.invalid:not([type=checkbox]):not([type=submit]), textarea.invalid {
  -webkit-box-shadow: 0 2px 0 0 red;
          box-shadow: 0 2px 0 0 red;
}
select.invalid {
  -webkit-box-shadow: 0 2px 0 0 red;
          box-shadow: 0 2px 0 0 red;
}

